/* this is everything to do with the navigation bar */
.top-nav {
    overflow: hidden;
    background-color: #0c4214;
    font-family: Verdana;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.top-nav a {
    float: left; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
.top-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .top-nav a.logo {
    background-color: #455fe1;
    color: white;
    font-family: impact;
  }
  .top-nav-right {
    float: right;
    margin-right: 2%;
  }

  /* This section is CSS for home section*/
  .home {
    padding-top: 60px;
    max-height: 900px;
    overflow: hidden;
    border-bottom-style: solid;
    border-color: black;
    border-width: 3px;
  }
  .home-intro {
    width: 100%;
    position: static;
    display: flex;
  }
  .top-bilder {
    max-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
    border-style: solid;
    border-color: black;
    border-width: 3px;
  }
.home-intro-text {
    position: absolute;
    background-color: #0000002b;
    border-radius: 2.5%;
    max-width: 40%;
    max-height: 80%;
    margin-top: 2%;
    z-index: 2;
    align-self:flex-start;
    margin-left: 5%;
    padding: 5px 15px 5px 15px;
}
.home-intro-text h2 {
    font-size: 40px;
    font-family: gill sans;
    color: white;
}
.home-intro-text p {
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}
.home-intro-text ul li {
    font-size: 25px;
    list-style-type: circle;
    color: white;
    margin-bottom: 5px;
}
.sign-button {
  z-index: 3;
  position: absolute;
  align-self: center;
  margin-left: 32rem;
}
.button {
  background-color: rgba(216, 58, 14, 0.872);
  border: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 15px 32px;
  border-radius: 2.5%;
}
.button:hover {
  background-color: #0c4214;
}
/* This part of the code is for the "why" section */ 
#why {
  max-height: 1050px;
}
/* Left text box */
.left-text {
  width: 25%;
  height: 350px;
  border: solid black 5px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  margin-top: 20px;
}
.left-text h3 {
  font-size: 40px;
  font-family: sans-serif;
}
.left-text p {
  font-size: 30px;
  font-family: sans-serif;
}
/* Right text box */
.right-text {
  display:inline-block;
  width: 25%;
  height: 350px;
  border: solid black 5px;
  position:static;
  padding: 10px;
  vertical-align: top;
  margin-top: 20px;
}
.right-text h3 {
  font-size: 40px;
  font-family: sans-serif;
}
.right-text p {
  font-size: 30px;
  font-family: sans-serif;
}
/* hidden divs */
.hidden {
  width: 25%;
  display: inline-block;
  max-height: 400px;
  border: black 5px solid;
  height: 370px;
  vertical-align: top;
  margin-top: 20px;
  visibility: hidden;
}
.hidden2 {
  width: 25%;
  display: inline-block;
  max-height: 400px;
  border: black 5px solid;
  height: 350px;
  visibility: hidden;
  padding-left: 5px;
  padding-right: 5px;
}
/* second row "why" section */
.row-two-text {
  width: 25%;
  border: black 5px solid;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
.row-two-text h3 {
  font-size: 40px;
  font-family: sans-serif;
}
.row-two-text p {
  font-size: 30px;
  font-family: sans-serif;
}
/* third row "why" section */
.row-three-text {
    width: 25%;
    border: black 5px solid;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}
.row-three-text h3{
  font-size: 30px;
  font-family: sans-serif;
}
.row-three-text p {
  font-size: 30px;
  font-family: sans-serif;
}
/* This part is all about making the site reactive */ 
